@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url(pics/background-1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* ---------------- */

#main {
    text-align: center;
    font-family: 'Fasthand', cursive;
    font-size: 25px;
    background: rgba(0, 0, 0, .5);
}

#logo {
    border-radius: 100px;
}

#main div {
    padding: 100px 0px;
}

#main div h1 {
    position: relative;
    width: 70%;
    margin: 0 auto;
    color: white;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(18, 12, 44);
}

nav a {
    color: white;
}

#links {
    display: flex;
    flex-direction: column;
}

#menu {
    text-align: center;
    background: rgb(18, 12, 44);
    color: white;
    font-family: 'Fasthand', cursive;
    padding: 5px;
}

#menu-cont {
    display: flex;
    justify-content: space-evenly;
}

#about {
    background: rgba(0, 0, 0, .5);
    padding: 100px;
    color: white;
    font-family: 'Fasthand', cursive;
    font-size: 20px;
}

footer {
    background: rgba(0, 0, 0, .8);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    justify-content: space-around;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer h2 {
    margin: 0;
}

.tag {
    text-align: center;
    background: black;
    color: white;
    margin: 0;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}

@media screen and (max-width: 500px) {
    body {
        background-size: 100vw 100vh;
    }

    #main div h1 {
        color: white;
        height: 200px;
    }

    #logo {
        height: 100px;
    }
    
    #menu {
        padding: 20px;
    }

    #about {
        padding: 20px;
    }
    
    footer {
        font-size: 8px;
    }

    footer img {
        width: 100px;
        height: 100px;
    }
}
